.container-ppal {
  background-image: url(./images/weather/195827fabf0e7a7917d709a65b232268.jpg);
  height: 100dvh;
  background-position: center;
}
.navbar-ppal {
  width: 20%;
  height: 100%;
  background: rgb(251, 204, 95);
  background: linear-gradient(
    82deg,
    rgba(251, 204, 95, 0.5662640056022409) 5%,
    rgba(251, 204, 95, 0.28895308123249297) 10%,
    rgba(251, 204, 95, 0.3841911764705882) 89%,
    rgba(251, 204, 95, 0.5802696078431373) 94%
  );
}
.container-body {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.title-ppal > h1 {
  font-family: monospace;
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.container-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.city {
  font-size: 2.5rem;
}
